doctype html

mixin navLink(href, text)
    a(class!=attributes.class + ' tooltipped', href=href, data-original-title=text, data-placement='bottom', data-container='div.navbar')

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery.js')
  body
    div#wrap
      div.navbar.navbar-default
        div.container
          div.navbar-header
            a.navbar-brand(href='/')= title
          div.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              if user
                li
                  a(href='/user/stats')
                    img.user-thumbnail(src=user.image)
                  if user.isAdmin()
                    li
                      +navLink('/admin', 'Admin').glyphicon.glyphicon-cog
                  if user.isAuthor()
                    li
                      +navLink('/challenge/create', 'New Challenge').glyphicon.glyphicon-edit
                li
                  +navLink('/logout', 'Log Out').glyphicon.glyphicon-log-out
              else
                li
                  //- +navLink('/auth/twitter', 'Log In').glyphicon.glyphicon-log-in
                  a(href='/auth/twitter') Log In With Twitter
      div.container
        include includes/flashes.jade
        block content
    div#footer
      div.container
        p.text-muted.credit!= title + ' &copy; ' + authors
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/sg-global.js')
